* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --handle-size: 3rem;
    --img-gap: .25rem;
}



body {
    /* padding-top: 120px; */
    background-color: #333;
    color: white;
    /* min-width: 700px; */
}

a {
    text-decoration: none;
    color: rgb(216, 216, 231);
}

ul {
    list-style: none;
}

.navigation {
    /* background: linear-gradient(to right, #4c46e6, #6d68fe, #b446ff, rgb(151, 0, 255)); */
    /* padding: 0px 20px; */
    background-color: #333;
    position: sticky;
    /* top: 0; */
    z-index: 999;
    width: 100%;
    /* min-width: 500px; */
    top: 0px;
    box-shadow: 0px 20px 20px 0px #000000cc;
}

.navigation_container {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
}

.navigation_container_left {}

.navigation_container_right_logo {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
}

.navigation_container_right_logo>a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_container_right_logo>a>img {
    width: 100%;
}

.navigation_container_left_menu {
    background-color: #333;
    color: rgb(220, 220, 235);
    border-top: 1px solid rgb(204, 204, 216);
}

.navigation_container_left_menu_nav {
    font-size: 18px;
}

.navigation_container_left_menu_nav_wrapper {
    padding: 0px 30px;
    /* box-shadow: 1px 1px 12px 3px black; */
}

.navigation_container_left_menu_nav_wrapper_ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.navigation_container_left_menu_nav_wrapper_ul_li {
    padding: 0px 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.navigation_container_left_menu_nav_wrapper_ul_li:hover {
    background-color: #0000ff4f;
}

.navigation_container_left_menu_nav_wrapper_ul_li>a {
    color: rgb(220, 220, 235);
    text-decoration: none;
    font-weight: 800;
}

.navigation_container_right {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 50px repeat(10, 1fr) 150px 50px;
    grid-auto-rows: minmax(50px, auto);
    /* align-items: stretch; */
}

.navigation_container_right>div {
    /* margin: 0px 10px; */
}

.navigation_container_right_sidebar {
    grid-column: 14;
}

.navigation_container_right_sidebar_button {
    height: 100%;
    width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    color: rgb(181, 181, 199);
}

.navigation_container_right_sidebar_button>img {}

.navigation_container_right_login {
    background-color: transparent;
    border-radius: 10px;
    /* width: 100px; */
    text-align: center;
    padding: 0px 10px;
    grid-column: 13;
}

.navigation_container_right_login_wrapper {
    height: 100%;
}

.navigation_container_right_login_wrapper>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    list-style: none;
}

.navigation_container_right_login_wrapper>ul>li {}

.navigation_container_right_login_wrapper_link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.navigation_container_right_login_wrapper_link>span {
    /* font-size: 20px; */
    color: rgb(221, 221, 244);
    /* font-weight: 900; */
}

.navigation_container_right_login_wrapper_link_line1 {
    font-size: 15px;
}

.navigation_container_right_login_wrapper_link_line2 {
    font-size: 16px;
    font-weight: 900;
}

.navigation_container_right_search {
    grid-column: 3/13;
    flex: 1;
}

.navigation_container_right_search_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 0px 0px 13px 0px #00000057;
    border-radius: 10px;
    /* margin: 5px 0px; */
}

.navigation_container_right_search_wrapper_select {
    background-color: transparent;
    color: rgb(180, 180, 202);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border: 1px solid #0000004d; */
    border-right: 1px solid blue;
    /* box-shadow: 0px 0px 15px -7px black; */
}

.navigation_container_right_search_wrapper_select_option {}

.navigation_container_right_search_wrapper_input {
    height: 100%;
    border: none;
    border-left: none;
    padding: 0px 15px;
    flex: 1;
    background-color: transparent;
    color: rgb(191, 191, 220);
    /* overflow-x: hidden; */
}

.navigation_container_right_search_wrapper_search_button {
    background-color: #d8d8e8;
    min-width: 60px;
    height: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation_container_right_search_wrapper_search_button>i {
    color: #333;
    font-size: 24px;
}

.navigation_container_sidenav {
    position: absolute;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #333;
    box-shadow: 1px 1px black;
}


.sidebar_row_1 {
    padding: 1rem;
    background-color: blue;
    font-size: 1.5rem;
    color: #333;
}

.sidebar_row_2 {
    padding: 1rem;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 26%);
    color: blue;
}

.sidebar_row_2_link {}

.sidebar_row_2_link_gift {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sidebar_row_2_link_gift_icon {
    width: 4.5rem;
}

.sidebar_row_2_link_gift_text {
    font-weight: 500;
}

.sidebar_row_2_link_gift_text_login {
    font-size: 0.9rem;
    padding: 8px;
    border: 1px solid #d8315b;
    border-radius: 5px;
    color: #d8315b;
}

.sidebar_row_3 {
    color: blue;
}

.sidebar_row_3_list {}

.sidebar_row_3_list li:not(:first-child) {
    border-top: 1px solid blue;
}

.sidebar_row_3_list_item {}

.sidebar_row_3_list_item_link {
    padding: 1rem;
    display: flex;
    column-gap: 10px;
    align-items: center;

}

.sidebar_row_3_list_item_left {
    width: 2.5rem;
    display: flex;
}

.sidebar_row_3_list_item_right {}

.body {
    /* margin-top: 10px; */
    position: relative;
}

.banner {
    position: absolute;
    left: 0px;
    z-index: -99;
    width: 100%;
    margin: 0 auto -150px;
    -webkit-mask-image: linear-gradient(to bottom, #f7f0f0, #2e1d1d00);
    mask-image: linear-gradient(180deg, #000, transparent);
    /* max-width: 1500px; */
    /* width: 100%; */
    /* z-index: -1; */
}

.banner_container {
    /* background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
    /* z-index: 99; */
}

.banner_container_img {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background: linear-gradient(to bottom, black, #f2ebebf7); */
    /* position: absolute; */
    /* z-index: -99; */
}

.catalog {
    padding-top: 500px;
}

.catalog_wrapper {
    margin: 100px 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #333;
    /* box-shadow: 10px 10px blue; */
    /* padding: 0px 30px; */
}

.footer_row_1 {
    min-height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    background: blue;
    padding: 50px 30px;
    /* margin-top: 30px; */
    /* flex-wrap: wrap; */
    box-shadow: 1px 3px 20px 8px #020913;
}

.footer_row_1_col_1 {}

.footer_row_1_col_1_text {
    font-size: 30px;
}

.footer_row_1_col_2 {
    /* height: 100%; */
    flex: 1;
    display: flex;
    align-items: center;
}

.footer_row_1_col_2_input {
    /* height: 100%; */
    /* padding-left: 15px; */
    flex: 1;
    float: left;
    /* width: calc(100% - 160px); */
    border: 2px solid rgba(255, 255, 255, 0.33);
    height: 50px;
    line-height: 50px;
    padding: 0px 15px;
    color: #ffffff;
    border-right: 0;
    background-color: transparent;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer_row_1_col_2_button {
    /* height: 100%; */
    padding: 0 10px;
    font-size: 20px;
    /* border: none; */
    float: left;
    width: 140px;
    height: 50px;
    font-weight: bold;
    background-color: #ffffff;
    color: blue;
    border: 0px;
    letter-spacing: 1px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.footer_row_2 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 60px;
    justify-content: space-between;
    /* margin: 30px 0px; */
    padding: 50px 30px;
    /* background-color: #333; */
}

.footer_row_2_section_1 {}

.footer_row_2_section_1_container {
    width: 100%;
}

.footer_row_2_section_1_header {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    line-height: 1.1;
}

.footer_row_2_section_1_list {
    padding-top: 45px;
    list-style: none;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.footer_row_2_section_1_list_item {
    margin-top: 10px;
}

.footer_row_2_section_1_list_item_link {}

.footer_row_2_section_1_list_item_link:hover {
    text-decoration: underline;
    cursor: pointer;

}

.footer_row_2_section_1_para {
    font-size: 15px;
    padding-top: 55px;
    color: rgb(255 255 255 / 82%);
    font-weight: 700;
}

.footer_row_2_section_1_playstore_list {
    list-style: none;
    padding-top: 10px;
    display: flex;
    column-gap: 10px;
}

.footer_row_2_section_1_playstore_list_item {
    margin-top: 10px;
}

.footer_row_2_section_1_playstore_list_item_link {}

.footer_row_2_section_1_playstore_list_item_link {
    border-radius: 5px;
}

.footer_row_2_section_1_header5 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(255 255 255 / 72%);
    padding-top: 25px;
    float: left;
    width: 100%;
}

.footer_row_2_section_1_header5_span_1 {
    color: blue;
}

.footer_row_2_section_1_header5_span_2 {}

.footer_row_3 {
    background-color: #00000069;
    box-shadow: 1px 20px 20px 20px black;
}

.footer_row_3_container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.footer_row_3_container_copyright {}

.footer_row_3_container_copyright_para {}

.footer_row_3_container_copyright_para_span_2 {
    color: blue;
    font-weight: bold;
}

.footer_row_3_container_copyright_para_span_4 {
    color: blue;
    font-weight: bold;
}

.footer_row_3_container_social {}

.footer_row_3_container_social_list {
    list-style: none;
    display: flex;
}

.footer_row_3_container_social_list_item {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.37);
    color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0px 10px;
}

.details {}

.details_banner {}

.details_banner_wrapper {}

.details_banner_wrapper_video {
    width: 100%;
    aspect-ratio: 16/9;
}

.details_info {}

.details_info_container {
    padding: 1.5rem 3rem;
}

.details_info_container_description {
    display: flex;
    flex-direction: column;
    /* row-gap: 25px; */
}

.details_info_container_description>div:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.774);

}

.details_info_container_description_tags {
    padding: 1rem 0rem;
}

.details_info_container_description_tags_list {
    list-style: none;
    display: flex;
    /* column-gap: 30px; */
    padding-bottom: 1rem;
}

.details_info_container_description_tags_list_item {
    border: 2px solid white;
    padding: 0.25rem 0.75rem;
    text-align: center;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.details_info_container_description_text {
    letter-spacing: .03125em;
    line-height: 1.5rem;
    vertical-align: baseline;
}

.details_info_container_description_creators {
    display: flex;
    padding-bottom: 0.75rem;
}

.details_info_container_description_creators_heading {
    padding: 0.75rem 0.75rem 0 0;
    text-align: start;
    letter-spacing: .00937em;
    line-height: 1.5rem;
    font-weight: 700;
    -webkit-font-smoothing: auto;
}

.details_info_container_description_creators_list {
    list-style: none;
    display: flex;
    padding: 0.75rem 0.75rem 0 0;
    text-align: start;
    letter-spacing: .00937em;
    line-height: 1.5rem;
    font-weight: 500;
    -webkit-font-smoothing: auto;
    vertical-align: middle;
    color: blue;
    font-weight: 500;
}

.details_info_container_description_creators_list li:not(:first-child)::before {
    display: inline-block;
    margin: 0 0.5rem 0.2rem;
    content: "";
    font-size: 1rem;
    line-height: .5rem;
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: currentColor;
    color: white
}

.details_info_container_description_creators_list_item {}

.details_info_container_description_stars {
    display: flex;
    padding: 0.75rem 0rem;
}

.details_info_container_description_misc {
    padding: 0.75rem 0rem;
}

.details_info_container_description_misc_span {
    padding: 0rem 0.5rem;
}

.details_info_container_rating {}

.details_calender {
    margin-bottom: 50px;
}

.calender_wrapper {
    display: flex;
    overflow-x: scroll;
}

.calender_wrapper::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
    border-radius: 10px;
    background-color: #fbfafa0a;
}

.calender_wrapper::-webkit-scrollbar {
    width: 10px;
    height: 0.5rem;
    /* background-color: #F5F5F5; */
}

.calender_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #626262a8;
}

.calender {
    max-height: 100px;
    margin: 0 5px;
}

.calender_container {
    background-color: #ffffff3b;
    width: calc(10vw - 10px);
}

.calender_container_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    height: 100px;
    row-gap: 15px;
    width: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto;
    /* background-color: white; */
}

.calender_container_date {}

.calender_container_weekday {}




.details_theaters {
    padding: 0 3rem;
}

.theaters {
    display: flex;
}

.theaters_left {
    flex-grow: 1;

}

.theaters_left>div:not(:first-child) {
    border-top: 1px solid;
}

.theaters_left_row {
    display: flex;
    padding: 1.5rem 0rem;
}

.theaters_left_row_info {
    max-width: 200px;
    white-space: pre-wrap;
}

.theaters_left_row_info_name {
    font-size: 1.2rem;
    font-weight: bold;
}

.theaters_left_row_info_service_list {
    list-style: none;
    display: flex;
    column-gap: 1rem;
    margin-top: 15px;
}

.theaters_left_row_info_service_list_item {}

.theaters_left_row_info_service_list_item_image {}

.theaters_left_row_time {
    margin-left: 2rem;
    flex: 1;
}

.theaters_left_row_time_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.theaters_left_row_time_list_item {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.theaters_right {
    width: 350px;
    padding-left: 1rem;
}

.theaters_right_container {
    border: 1px solid;
    padding: 40px 10px;
    border-radius: 5px;
}

.theaters_right_container_address {
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    text-align: center;
}

.theaters_right_container_awkad_list {
    list-style: none;
}

.theaters_right_container_awkad_list_item {
    margin-bottom: 10px;
}

.theaters_right_container_awkad_list_item_span_1 {
    margin-right: 20px;
    font-weight: bold;
}

.theaters_right_container_awkad_list_item_span_2 {}

.theaters_right_container_next {
    display: flex;
    justify-content: center;
}

.theaters_right_container_next_btn {
    padding: 5px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: blue;
    color: white;
}

.hall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 120px; */
}

.hall_screen {
    width: 40%;
    margin-top: 100px;
}

.hall_screen_this_way {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall_screen_this_way_icon {
    width: 100%;
    height: 80px;
    perspective: 200px;
    perspective-origin: bottom;
}

.hall_screen_this_way_icon_prespective {
    width: 100%;
    height: 100%;
    background-color: white;
    transform: rotateX(270deg);
    box-shadow: 0px 5px 7px 20px white;
}

.hall_screen_this_way_text {}

.hall_seatingArrangement {
    margin: 100px 0px;
}

.hall_seatingArrangement_divider {
    text-align: center;
    margin: 2rem 0rem;
}

.hallview_section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.hallview_section_row {
    display: flex;
    column-gap: 1rem;
    flex-wrap: nowrap;
}

.hallview_section_column {
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hallview_section_seat {}

.hall_seat_legends {
    padding: 30px 0px;
    /* position: sticky; */
    /* top: 0; */
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -10px 10px 18px -10px black;
    z-index: 999;
}

.hall_seat_legends_list {
    display: flex;
    row-gap: 2rem;
    column-gap: 2rem;
}

.hall_seat_legends_list_item {
    display: flex;
    justify-content: center;
}

.hall_seat_legends_list_item_color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 1rem;
}

.hall_seat_legends_list_item_text {}

.hall_seat_price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #333;
    box-shadow: 0px -4px 20px 0px black;
    position: fixed;
    bottom: 0;
    z-index: 33;
}

.hall_seat_price_button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.row_name {
    border: none;
}

.row_path {
    border: none;
}

.row_seat {}


.login {
    width: 500px;
    margin: auto;
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    background-color: #272525;
    padding: 4rem;
    border-radius: 5px;
    color: blue;
    box-shadow: 0px 0px 20px 0px black;
}

.login_container_header {}

.login_container_inputs {
    width: 100%;
}

.login_container_inputs_label {
    font-size: 1.3rem;
    text-align: left;
}

.login_container_inputs_input {
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 0.75rem;
    border: none;
    flex-grow: 1;
}

.login_container_inputs_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.login_container_inputs_list_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5rem;
}

.login_container_button {
    width: 100%;
}

.login_container_button_btn {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.login_container_undertext {
    align-self: flex-start;
}

.login_container_undertext_span_1 {
    margin-right: 0.5rem;
}

.login_container_undertext_span_2 {}

.login_container_undertext_span_2_link {
    color: #d8315b;
}

.Infinity_scrolling {}

.Infinity_scrolling_wrapper {
    display: flex;
    flex-direction: column;
}

.Infinity_scrolling_wrapper_component {
    width: 90vw;
    height: 100vh;
    margin: 20px 5vw;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px black;
    /* border: 1px solid black; */
}

.Infinity_scrolling_wrapper_component_image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}








.reserved {
    background: gray;
    border-color: #ffffff47;
}

.selected {
    background-color: blue;
}

.available {
    border: 1px solid;
}

.hide {
    display: none;
}



@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }

    .navigation_container_right {}

    .navigation_container_right_logo {}

    .navigation_container_right_search {}

    .navigation_container_right_login {}

    .navigation_container_right_sidebar {}

    .calender_container {
        width: calc(10vw - 10px);
    }
}

@media (max-width: 700px) {

    body {}

    .navigation {}

    .navigation_container_right {
        grid-template-columns: 120px repeat(10, 1fr) 60px 60px 60px;
        grid-auto-rows: minmax(50px, auto);
        grid-row-gap: 1rem;
    }

    .navigation_container_right_logo {
        grid-column: 1/3;
    }

    .navigation_container_right_search {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .navigation_container_right_login {
        grid-column: 12/14;
    }

    .navigation_container_right_sidebar {
        grid-column: 14;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation_container_left_menu {
        display: none;
    }

    .calender_container {
        width: calc(15vw - 10px);
    }

    .theaters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .theaters_right {
        width: 100%
    }

    .footer_row_1 {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .footer_row_1_col_1 {}

    .footer_row_1_col_1 {}

    .footer_row_1_col_1_text {}


    .footer_row_1_col_2 {
        align-self: stretch;
    }

    .footer_row_1_col_2_input {}

    .footer_row_1_col_2_button {}

    .footer_row_3_container {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    .hall {
        /* margin-top: 156px; */
    }

    .hall_seat_legends {
        top: 156px;
    }
}

@media (max-width: 500px) {

    body {}

    .navigation {}

    .navigation_container_right {}

    .navigation_container_right_logo {}

    .navigation_container_right_search {}

    .navigation_container_right_search_wrapper_select {
        display: none;
    }

    .navigation_container_right_login {}

    .navigation_container_right_sidebar {}

    .navigation_container_left_menu {}

    .details_info_container_description_creators_list {
        flex-direction: column;
    }

    .details_info_container_description_creators_list li::before {
        display: inline-block;
        margin: 0 0.5rem 0.2rem;
        content: "";
        font-size: 1rem;
        line-height: .5rem;
        padding: 1px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: currentColor;
        color: white;
    }

    .theaters {}

    .theaters_left_row {
        flex-direction: column;
    }

    .theaters_left_row_time {
        margin: 0;
        margin-top: 2rem;
    }

    .theaters_right {
        padding: 0;
        margin-bottom: 50px;
    }

    .details_catalog {
        display: none;
    }

    .calender_wrapper {
        display: flex;
        overflow-x: scroll;
    }

    .calender {
        margin: 0 1vw;
    }

    .calender_container {
        width: calc(25vw - 10px);
    }

    .calender_container_inner {}

    .calender_container_date {}

    .calender_container_weekday {}

    .footer_row_1 {}

    .footer_row_1_col_1 {}

    .footer_row_1_col_1 {}

    .footer_row_1_col_1_text {}


    .footer_row_1_col_2 {
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        row-gap: 1rem;
    }

    .footer_row_1_col_2_input {
        border-right: 2px solid rgba(255, 255, 255, 0.33);
        border-radius: 5px;
    }

    .footer_row_1_col_2_button {
        width: 100%;
        border-radius: 5px;
    }

    .footer_row_3_container {}

    .hall {}

    .hall_seat_legends {}
}